@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Service Fabric DevOps Sample 1.1</h1>
    <p class="lead">This sample show how to work a devops pipeline based on service features</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started with DevOps on Azure Service Fabric</h2>
        <p>
            Lorem ipsum dolor sit amet, his te animal vivendum, tibique complectitur vix at, oportere qualisque constituam qui ne. Dolores hendrerit referrentur no duo, has vidisse labitur vivendo in. Modus perfecto eu vel, sea consequat interpretaris ad, mea id case virtute consetetur. Vel et debet labitur dissentiunt, ne periculis prodesset per. Pro an alii patrioque evertitur, mel ut sumo falli aliquid, id facilisi electram pro.

            Ius in nobis liberavisse, veritus scaevola vulputate per at. At inani utamur inermis mea, id eos postea laoreet inermis. His doctus aeterno no, ludus ceteros suscipit no quo. Incorrupte consequuntur ea ius, cu vix graece semper. No nostrud nusquam deterruisset eum.

            Nec essent aperiam expetendis at, libris vituperata philosophia ea est. Ut vis erroribus expetendis, mea id integre noluisse, ei dicant soluta eruditi his. Mel ex malis iisque alterum, ea possim disputationi mea, et eam nostrud accusamus efficiendi. Et vocent platonem interpretaris usu.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>